@import "katex/dist/katex.min.css";
@import "tailwindcss";

@theme {
  --color-primary-500: #362757;
  --color-primary-400: #5d497f;
  --color-primary-300: #a333d9;
  --color-primary-200: #896ba3;
  --color-primary-100: #b594c2;

  --color-secondary: #356b86;
}

:root {
  background-color: #362757;
}

/* Scrollbar thinning */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* bg-zinc-900 */
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 9999px;
  border: 2px solid #18181b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #52525b #18181b;
}



/* For scrolling chatnames */
@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-text-wrapper {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.scroll-text-wrapper.scrolling {
  animation: scroll-loop 7s linear infinite;
}

.scroll-text {
  display: inline-block;
  margin-right: 2rem;
}



@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}